@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin:0;
}

.main {
    margin:0;
    padding: 50px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.main-image {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    padding:2%;
    margin-left:2rem;
    color: white;
    background-color: grey;
    width: 200px;
    height: 200px;
}

.button-1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 50px 10px 50px;
    border-style: hidden;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #3882f6;
    color: #f9faf8

}




h2, ul{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 12px;
    
}

a {
    text-decoration: none;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0;
}






.footer{
    padding: 2%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
}