@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin:0;
    background-color: #f9faf8;
}

.main {
    margin:0;
    padding: 50px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.main-image {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    padding:2%;
    margin-left:2rem;
    color: white;
    background-color: grey;
    width: 200px;
    height: 200px;
}

.button-1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 50px 10px 50px;
    border-style: hidden;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #3882f6;
    color: #f9faf8

}

.info-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.card-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container{
    padding: 10px;
    gap: 30px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 75px;
    height: 250px;
    padding: 80px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    
}

.image-subtitle{
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.image{
    display:flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 150px;
    height: 200px;
    border:#3882f6;
    border-style: solid;
    border-radius: 10px;
    background-color: #e5e7eb;

}


.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-color: #1F2937;
    padding: 150px;
}

.phrase{
    font-size: 36px;
    font-weight: 280;
    font-style: italic;
}

.author{
    font-size: 30px;
    font-weight: 400;
    align-self: flex-end;
}

.call-card{
    display: flex;
    box-shadow: 2px 3px darkslategrey;
    margin: 50px;
    gap: 80px;
    padding: 80px;
    background-color: #3882f6;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}


.title{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;

}

.subtitle{
    font-size: 18px;
    color: #f9faf8;
    font-weight: 300;
    display: flex;
}

.button-2{
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    border: 3px;
    border-radius: 15px;
    box-shadow: 5px 1px #1F2937;
    font-style: italic;
    background-color: #3882f6;
    border-style: solid;
    border-color: white;

}


h2, ul{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 12px;
    
}

a {
    text-decoration: none;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0;
}






.footer{
    padding: 2%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
}